{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    <h1>This testing page modified by zeko :P </h1>
    {% for post in posts %}
        <article class="post">
            <h2>
                Author E-mail :
                <a href="{{ path('blog_post', { slug: post.slug }) }}">
                    {{ post.authorEmail  }}
                </a>
            </h2>

            {{ post.summary|md2html }}
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ pagerfanta(posts, 'twitter_bootstrap3_translated', { routeName: 'blog_index_paginated' }) }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
